background-color:#f4f1de
}

ul {
  list-style-type: none;
  text-color: #000000;
  background-color: #6D6466;
  width: 100%;
  overflow: hidden;
  position: fixed;
  text-align: center; 
  left: 0;
  top: 0;
  margin: 0;
}

li{
  float: left;
  text-color: black;

}
li a:hover {
  background-color: #A7A0A1;
  color: purple;
  text-color: black;
}
 
li a {
  font-family: "Arial";
  display: block;
  color: black;
  text-decoration: none;
  padding: 15px 50px;
  border-style: hidden;
  border-color: black;
}

h1{ 
  text-align: center;
}

p{
  text-align: center;
  font-size: 50px;
  border-style: double;
}

img {
  margin: auto;
  width: 50%;
  border: 10px solid #6D6466;
  padding: 10px;
  margin-left: 450px;
